$color_1: rgb(134, 131, 131);
$color_2: white;
$color_3: #334a97;
$color_4: rgb(60, 60, 60);
$font-family_1: 'Poppins', sans-serif;
$font-family_2: inherit;
$background-color_1: #ECEDEF;
$background-color_2: black;
$background-color_3: white;
$background-color_4: #137c1c;
$background-color_5: #0f5819;
$background-color_6: #bcc1b9;

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: $font-family_1;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		background-color: $background-color_1;
		width: 120vw;
		height: 120vh;
	}
	&::after {
		content: '';
		inset: 0;
		z-index: -1;
		position: absolute;
		background-color: $background-color_2;
		opacity: 0.5;
		position: fixed;
	}
}
form {
	border: 1px solid #aaa;
	border-radius: .75em;
	padding-block: 1em;
	padding-inline: 3em;
	z-index: 2;
	background-color: $background-color_3;
}
.info-cta {
	font-size: 1em;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	cursor: pointer;
}
img {
	width: 150px;
	height: 150px;
	object-fit: contain;
}
.form-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-item {
	padding-bottom: 1.5em;
}
label {
	color: $color_1;
	font-size: .75em;
	position: absolute;
	padding-left: 2em;
	transition: all 300ms ease-in;
}
.label-control {
	display: flex;
	align-items: center;
}
input {
	min-width: 20em;
	padding-bottom: .5em;
	border: 2px solid rgba(128, 128, 128, 0.348);
	border-top: none;
	border-left: none;
	border-right: none;
	margin-block: .75em;
	font-size: 1em;
	position: relative;
	transition: all 300ms ease-in;
	&:focus {
		border-top: none;
		border-left: none;
		border-right: none;
		outline: none;
		border-bottom: 2px solid rgb(103, 102, 102);
	}
}
.form-cta {
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	border: none;
	border-radius: .35em;
	padding-block: 1em;
	padding-inline: 10em;
	color: $color_2;
	margin-bottom: 1em;
	background-color: $background-color_4;
	font-family: $font-family_2;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	box-shadow: rgba(17, 12, 46, 0.426) 0px 48px 100px 0px;
	font-weight: lighter;
	&:hover {
		background-color: $background-color_5;
	}
}
span {
	margin-top: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color_2;
	scale: 0.75;
	transform: translateY(10em);
}
.modal-box {
	width: 40ch;
	height: 40ch;
	border: none;
	outline: none;
	border-radius: 0.35em;
	overflow: hidden;
	margin: 0 auto;
	background-color: $background-color_6;
	margin-top: 10em;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	&::backdrop {
		backdrop-filter: blur(2px);
	}
}
.close-btn {
	position: absolute;
	padding: 1em;
	right: 0;
	cursor: pointer;
}
.modal-content {
	h1 {
		text-align: center;
		padding-top: 2em;
		padding-bottom: .75em;
		font-weight: lighter;
		color: $color_3;
	}
}
ul {
	li {
		padding-bottom: 2em;
		line-height: 1.5em;
		padding-left: 2em;
		list-style: circle;
		color: $color_4;
	}
}
.button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-button {
	border: none;
	background-color: $background-color_4;
	outline: none;
	transition: all 300ms ease-in-out;
	&:hover {
		background-color: $background-color_5;
	}
}
@media ( width < 768px) {
	form {
		transform: scale(0.70);
	}
	.modal-box {
		transform: scale(.70);
	}
	span {
		transform: translateY(5em);
	}
}
@media ( width >= 768px ) {
	form {
		transform: scale(1);
	}
}
