@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

:root {
    
    --main-clr: #0c0b10;
    --secondary-clr: #1f1e25;
    --third-clr: #4C4D53;
    --accent-clr: #43a7cb;
    --table-clr: #f1f7fd;
    --text-color: white;
    --danger-color: #cd2624;

    --tik-clr: #2581e3;
    --e-gov-clr: #1ac05f;
    --standi-clr: #fa1b17;
    --pip-clr: #e6953e;
    --pip-clr: #e6953e;
    --sekretariat-clr: #e03860;
}

*, ::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #D2CFD0;
    overflow-x: hidden;
}

.sidebar {
    padding-top: 8em;
    background-color: var(--main-clr);
    height: 100vh;
    width: 16em;
    z-index: 99;
    position: fixed;
    padding-left: 2em;
}

.sidebar-item span {
    font-size: .85em;
    width: 100%;
    text-transform: uppercase;
    color: #c8c4c4;
    transition: all 200ms ease-in;
}

.sidebar-item span:hover {
    color: var(--text-color);
}

.sidebar-item.active {
    background-color: var(--secondary-clr);
    width: 10em;
    padding-block: 1em;
    border-radius: 0.55em;
}

.sidebar-item.active span {
    color: var(--text-color);
    font-weight: 500;
}

.text-display span {
    color: var(--text-color);
    font-weight: 300;
    position: absolute;
    top: 0;
    text-align: left;
    font-family: 'Jost', sans-serif;
    font-size: 1.2em;
    padding-top: 1em;    
}

.display-content {
    position: absolute;
    top: 0;
    padding-top: 3.25em;
}

.media-social {
    display: flex;
    flex-direction: row;
    gap: .75em;
    font-size: 1em;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.dropdown-cta {
    font-size: .55em;
    color: var(--main-clr);
}

.sidebar-item {
    padding-left: 1em;
    transition: all 200ms ease-in;
}

.sidebar ul {
    list-style: none;
}

.sidebar-item li a {
   text-decoration: none;
   color: var(--text-color);
}

.sidebar-item i {
    padding-right: .75em;
}

.majors-wrapper {
    cursor: pointer;
}

.majors-wrapper .sidebar-item:hover {
    transform: translateX(5px);
}

.majors-cta {
    padding-left: 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.majors-cta span, .majors-cta i {
    color: var(--text-color);
}

.majors-cta .dropdown-icon {
    color: gray;
}

.majors-toggle {
    padding-left: 3em;
    line-height: 2em;
    font-weight: 300;
    overflow: hidden;
    height: 0px;
    transition: all 300ms ease-in;
}

.majors-toggle.show {
    height: 160px;
}

.dropdown-icon.rotate {
    transition: all 200ms ease-in;
    transform: rotate(180deg);
}

.log-out {
    position: absolute;
    bottom: 0;
    margin-bottom: 4em;
}

.log-out span, .log-out i {
    color: var(--danger-color);
    transition: all 200ms ease-in;
}

.log-out span:hover {
    color: var(--standi-clr);
}

.location {
    overflow: hidden;
    padding-bottom: 52em;
    position: relative;
    height: 0;
    z-index: -1;
}

.location iframe { 
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

nav {
    background-color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2em;
    margin-bottom: 2em;
}

nav span {
    font-size: 1.5em;
    font-weight: bolder;
    color: #4C4D53;
}

.add-new-cta button {
    padding: .55em;
    background: none;
    border: 2px solid #0860f7;
    color: #0860f7;
    border-radius: .35em;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
}

.welcome-display span {
    margin-left: 10em;
}

nav .hamburger {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4em;
    cursor: pointer;
}

.card-container {
    height: 16em;
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-block: 2em;
    padding-left: 17.5em;    
}

.card {
    background-color: var(--text-color);
    width: 18em;
    height: 15em;
    padding: 2em;
    border-radius: .55em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    transition: all 300ms ease-in;
    position: relative;
}

.card:hover {
    transform: translateY(-2px);
}

.card h1 {
    color: var(--text-color);
    position: absolute;
    top: 0;
    padding-top: 1em;
}

.card:nth-child(1) {
    background-color: var(--pip-clr);
}

.card:nth-child(2) {
    background-color: var(--e-gov-clr);
}

.card:nth-child(3) {
    background-color: var(--standi-clr);
}

.card:nth-child(4) {
    background-color: var(--tik-clr);

}

.card ul {
    list-style: none;
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
}

.card li a {
    text-decoration: none;
    color: var(--text-color);
}

.card li a:hover {
    text-decoration: underline;
}

.form-wrapper {
    margin-left: 17.5em;
    background-color: #fff;
    width: 20em;
    border-radius: .55em;
    margin-block: 2em;
}

#intern-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    padding: 2em;
}

#intern-form input {
    width: 15em;
    padding: 1em;
    border: 1px solid black;
}

.form-wrapper button {
    width: 8em;
    cursor: pointer;
    padding: 1em;
}

.table-wrapper {
    margin-left: 17.5em;
    width: 100%;
    overflow-x: auto;
}

.table-container {
    margin: auto;
    min-width: 5em;
}

table {
    text-align: center;
    width: 80%;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    padding-block: 1em;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--secondary-clr);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.table-cta i {
    width: 2em;
    cursor: pointer;
}

@media ( width <= 1024px ) {

    .sidebar {
        transform: translateX(-100%);
        transition: all 300ms ease-in-out;
    }

    .sidebar.move {
        transform: translateX(0%);
    }

    .welcome-display span {
        margin-left: 0em;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 40em;
        margin-top: 2em;
    }

    .card {
        padding-block: 5em;
        width: 40em;
    }


    .table-wrapper {
        width: 45em;
        margin-left: 10em;
        margin-top: 30em;
    }
}

@media ( width <= 820px ) {

    .card-container {
        width: 50em;
    }

    .card {
        margin-right: 20em;
    }

    .table-wrapper {
        margin-left: 6em;
    }
}

@media ( width <= 768px ) {
    .card {
        padding-block: 5em;
        width: 40em;
    }

    nav .hamburger {
        gap: 2em;
    }
}

@media ( width <= 426px ) {

    .card-container {
        width: 27em;
    }

    .welcome-display span {
        font-size: 1em;
    }

    .card {
        width: 20em;
    }

    .table-dashboard {
        display: none;
    }

    .table-wrapper {
        margin-top: 2em;
        width: 95%;
        margin-left: .75em;
        overflow-x: auto;
    }

}

